In [1]:
# Not: Bu dosya çalıştırılmamalıdır. Çünkü farklı sitelerden veri çekilmiş olup bu sayfada
# düzenlenip en son birleştirimiştir.Verisetinin Bu kodlar ile son hali DATA.csv olarak
# kaydedilmiş olunup Forecasting.ipynb dosyasında kullanılmış ve tahminleme işlemi yapılmıştır.
# Direk Forecasting dosyası üzerinden ilerleyiniz.

import pandas as pd

In [37]:

df_train = pd.read_csv('scrapyProje/yeni_ekle_1.csv', encoding = "UTF-8", sep=",")
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4650 entries, 0 to 4649
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   FIYAT                   4650 non-null   int64
 1   IL                      4650 non-null   object
 2   ILCE                    4650 non-null   object
 3   MAHALLE                 4650 non-null   object
 4   ILAN_NO                 4650 non-null   object
 5   ARSA_TIPI               4650 non-null   object
 6   METREKARE               4650 non-null   int64
 7   KREDIYE_UYGUNLUK        2626 non-null   object
 8   TAPU_DURUMU             2905 non-null   object
 9   TAKAS                   2736 non-null   object
 10  KAT_KARSILIGI           4649 non-null   object
 11  ILGILI_BELEDIYE         2436 non-null   object
 12  METREKARE_BIRIM_FIYATI  1157 non-null   float64
 13  ADA                     1492 non-null   float64
 14  PARSEL                  1660 non-null   float64
 15  KIRA_GETIRISI           243 non-null    float64
dtypes: float64(4), int64(2), object(10)
memory usage: 581.4+ KB

In [3]:
df_train

,FIYAT,IL,ILCE,MAHALLE,ILAN_NO,ARSA_TIPI,METREKARE,KREDIYE_UYGUNLUK,TAPU_DURUMU,TAKAS,KAT_KARSILIGI,ILGILI_BELEDIYE,METREKARE_BIRIM_FIYATI,ADA,PARSEL,KIRA_GETIRISI
0,180000,Canakkale,LapsekI,GUrecI,70072-582,Imarlı - Konut,318,NaN,NaN,NaN,Hayır,NaN,NaN,228,3,NaN
1,550000,Konya,Meram,CayırbaGı,81572-243,BahCe,1260,Uygun,MUstakIl Parsel,Hayır,Hayır,MERAM,480,326,33,NaN
2,980000,MuGla,MenteSe,Kıran,116661-7,Tarla,959,NaN,NaN,NaN,Hayır,NaN,NaN,NaN,NaN,NaN
3,2750000,Hatay,Arsuz,KaraaGaC Sarkonak,109071-281,Imarlı - Konut,4000,NaN,NaN,NaN,Hayır,NaN,NaN,NaN,NaN,NaN
4,8000000,Sakarya,SerdIvan,YukarıderekOy,68903-1004,Imarlı - Konut,4070,NaN,NaN,NaN,Hayır,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4647,475000,Malatya,BattalgazI,HIdayet,110592-126,Imarlı - Konut,458,NaN,NaN,NaN,Hayır,NaN,NaN,5897,4,NaN
4648,90000,GazIantep,SehItkamIl,UCgOze,7988-58,Tarla,1715,Uygun,MUstakIl Parsel,Hayır,Hayır,SEHITKAMIL,47,108,137,NaN
4649,315000,Ankara,GOlbaSı,YaylabaG,1249-1459,Tarla,1000,NaN,NaN,NaN,Hayır,NaN,NaN,NaN,584,NaN
4650,325000,Sakarya,Hendek,Sarıdede,117558-81,Imarlı - Konut,778,NaN,NaN,NaN,Hayır,HENDEK,NaN,NaN,NaN,NaN
4651,575000,MuGla,Dalaman,KaraCalı,34925-4849,Imarlı - Konut,408,Uygun,MUstakIl Parsel,Hayır,Hayır,DALAMAN,NaN,NaN,NaN,NaN

In [19]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4615 entries, 0 to 4614
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   fIyat                   4615 non-null   object
 1   Il                      4615 non-null   object
 2   Ilce                    4615 non-null   object
 3   mahalle                 4615 non-null   object
 4   Ilan_no                 4615 non-null   object
 5   Arsa_TıpI               4615 non-null   object
 6   Metrekare               4615 non-null   int64
 7   KredIye_Uygunluk        2623 non-null   object
 8   Tapu_Durumu             2420 non-null   object
 9   Takas                   2681 non-null   object
 10  Kat_KarSılıgı           4614 non-null   object
 11  IlgIlI_BeledIye         1922 non-null   object
 12  Metrekare_BırIm_Fıyatı  1005 non-null   object
 13  Ada                     1324 non-null   object
 14  Parsel                  1489 non-null   object
 15  Kıra_GetIrIsI           133 non-null    object
dtypes: int64(1), object(15)
memory usage: 577.0+ KB

In [38]:
df_train["IL"] = df_train["IL"].str.upper()
df_train["ILCE"] = df_train["ILCE"].str.upper()
df_train["MAHALLE"] = df_train["MAHALLE"].str.upper()
df_train["TAPU_DURUMU"] = df_train["TAPU_DURUMU"].str.upper()
df_train["ARSA_TIPI"] = df_train["ARSA_TIPI"].str.upper()
df_train["ILGILI_BELEDIYE"] = df_train["ILGILI_BELEDIYE"].str.upper()
df_train["TAKAS"] = df_train["TAKAS"].str.upper()
df_train["KAT_KARSILIGI"] = df_train["KAT_KARSILIGI"].str.upper()
df_train["KREDIYE_UYGUNLUK"] = df_train["KREDIYE_UYGUNLUK"].str.upper()

In [5]:
df_train.head(10)

,FIYAT,IL,ILCE,MAHALLE,ILAN_NO,ARSA_TIPI,METREKARE,KREDIYE_UYGUNLUK,TAPU_DURUMU,TAKAS,KAT_KARSILIGI,ILGILI_BELEDIYE,METREKARE_BIRIM_FIYATI,ADA,PARSEL,KIRA_GETIRISI
0,180000,CANAKKALE,LAPSEKI,GURECI,70072-582,IMARLI - KONUT,318,NaN,NaN,NaN,HAYIR,NaN,NaN,228,3,NaN
1,550000,KONYA,MERAM,CAYIRBAGI,81572-243,BAHCE,1260,UYGUN,MUSTAKIL PARSEL,HAYIR,HAYIR,MERAM,480,326,33,NaN
2,980000,MUGLA,MENTESE,KIRAN,116661-7,TARLA,959,NaN,NaN,NaN,HAYIR,NaN,NaN,NaN,NaN,NaN
3,2750000,HATAY,ARSUZ,KARAAGAC SARKONAK,109071-281,IMARLI - KONUT,4000,NaN,NaN,NaN,HAYIR,NaN,NaN,NaN,NaN,NaN
4,8000000,SAKARYA,SERDIVAN,YUKARIDEREKOY,68903-1004,IMARLI - KONUT,4070,NaN,NaN,NaN,HAYIR,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,9827000,ISTANBUL,BEYKOZ,MAHMUTSEVKETPASA,116946-4,BAHCE,15850,NaN,MUSTAKIL PARSEL,HAYIR,HAYIR,BEYKOZ,500,1111,11111,11.111
996,1350000,MERSIN(ICEL),SILIFKE,ATAYURT,37796-884,OZEL KULLANIM,5885,UYGUN,MUSTAKIL PARSEL,NaN,HAYIR,SILIFKE,NaN,NaN,NaN,NaN
997,1250000,SAKARYA,SERDIVAN,ESENTEPE,81061-183,IMARLI - TICARI,741,NaN,NaN,NaN,HAYIR,NaN,NaN,NaN,NaN,NaN
998,410000,MUGLA,MENTESE,GULAGZI,8672-528,IMARLI - KONUT,400,NaN,NaN,NaN,HAYIR,NaN,NaN,NaN,NaN,NaN
999,200000,SAKARYA,GEYVE,CINE,86862-169,BAHCE,3000,NaN,NaN,NaN,HAYIR,GEYVE,NaN,NaN,NaN,NaN

In [7]:
#df_train.to_csv("DataCSV.csv")

""" TL kolonlardan silindi ve o kolonlar int, float olarak alındı. Son hali kayıtlıdır."""

' TL kolonlardan silindi ve o kolonlar int, float olarak alındı. Son hali kayıtlıdır.'

In [9]:
#Train_data
#df_train = pd.read_csv('/home/melek/PycharmProjects/webCrawl/DataCSV.csv', encoding = "UTF-8", sep=",")
#df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2393 entries, 0 to 2392
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   FIYAT                  2393 non-null   int64
 1   IL                     2393 non-null   object
 2   ILCE                   2393 non-null   object
 3   MAHALLE                2393 non-null   object
 4   ILAN_NO                2393 non-null   object
 5   ARSA_TIPI              2393 non-null   object
 6   METREKARE              2393 non-null   int64
 7   KREDIYE_UYGUNLUK       1570 non-null   object
 8   TAPU_DURUMU            1792 non-null   object
 9   TAKAS                  1668 non-null   object
 10  KAT_KARSILIGI          2393 non-null   object
 11  ILGILI_BELEDIYE        1558 non-null   object
 12  METREKARE_BIRIM_FIYAT  683 non-null    object
 13  ADA                    819 non-null    object
 14  PARSEL                 888 non-null    object
 15  KIRA_GETIRISI          124 non-null    float64
dtypes: float64(1), int64(2), object(13)
memory usage: 299.2+ KB

In [39]:
df_train['ARSA_TIPI']=df_train['ARSA_TIPI'].replace(['IMARLI - KONUT'], 'I_K')
df_train['ARSA_TIPI']=df_train['ARSA_TIPI'].replace(['IMARLI - SANAYI'], 'I_S')
df_train['ARSA_TIPI']=df_train['ARSA_TIPI'].replace(['MUHTELIF ARSA'], 'M_A')
df_train['ARSA_TIPI']=df_train['ARSA_TIPI'].replace(['IMARLI - TICARI'], 'I_T')
df_train['ARSA_TIPI']=df_train['ARSA_TIPI'].replace(['KONUT+TICARET'], 'K_T')
df_train['ARSA_TIPI']=df_train['ARSA_TIPI'].replace(['OKUL (EGITIM TESISI)'], 'OKUL')
df_train['ARSA_TIPI']=df_train['ARSA_TIPI'].replace(['OZEL KULLANIM'], 'OZEL_K')
df_train['ARSA_TIPI']=df_train['ARSA_TIPI'].replace(['TURISTIK ARSA'], 'T_A')
df_train['ARSA_TIPI']=df_train['ARSA_TIPI'].replace(['DEPO, ANTREPO IZINLI'], 'D_A_I')
df_train['ARSA_TIPI']=df_train['ARSA_TIPI'].replace(['SIT ALANI'], 'S_A')
df_train['ARSA_TIPI']=df_train['ARSA_TIPI'].replace(['TOPLU KONUT ICIN TAHSIS'], 'T_K')
df_train['ARSA_TIPI']=df_train['ARSA_TIPI'].replace(['HASTANE (SAGLIK TESISI)'], 'HASTANE')

df_train['ARSA_TIPI']

0         I_K
1       BAHCE
2       TARLA
3         I_K
4         I_K
        ...
4645      I_K
4646    TARLA
4647    TARLA
4648      I_K
4649      I_K
Name: ARSA_TIPI, Length: 4650, dtype: object

In [10]:
#df_train.to_csv("Data.csv")

In [7]:
#Train_data ile Train_data2 dosyası birleştirilerek Data.csv dosyası oluşturuldu

In [37]:
#df_train = pd.read_csv('/home/melek/PycharmProjects/webCrawl/Data.csv', encoding = "UTF-8", sep=",")
#df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10342 entries, 0 to 10341
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   FIYAT                  10342 non-null  int64
 1   IL                     10342 non-null  object
 2   ILCE                   10342 non-null  object
 3   MAHALLE                10342 non-null  object
 4   ILAN_NO                10342 non-null  object
 5   ARSA_TIPI              10342 non-null  object
 6   METREKARE              10342 non-null  int64
 7   KREDIYE_UYGUNLUK       10342 non-null  object
 8   TAPU_DURUMU            7623 non-null   object
 9   TAKAS                  10342 non-null  object
 10  KAT_KARSILIGI          10340 non-null  object
 11  ILGILI_BELEDIYE        6383 non-null   object
 12  METREKARE_BIRIM_FIYAT  2735 non-null   float64
 13  ADA                    3490 non-null   float64
 14  PARSEL                 3901 non-null   float64
 15  KIRA_GETIRISI          521 non-null    float64
dtypes: float64(4), int64(2), object(10)
memory usage: 1.3+ MB

In [40]:
#Ayrıca 1 0 dönüşümlerinde kategorik değişkenleri 1 ile sıfır arasında tahminleme yapacak ve yapısal bozukluk olacaktır.
#Bunu çözmek için One - Hot dönüşümü ile Dummy Değişken Tuzağı yöntemi kullanılacaktır
from sklearn.preprocessing import LabelEncoder
lbe=LabelEncoder()
df_train=pd.get_dummies(df_train,columns=["TAKAS"],prefix=["TAKAS"])
df_train=pd.get_dummies(df_train,columns=["KAT_KARSILIGI"],prefix=["KAT_KARSILIGI"])
df_train=pd.get_dummies(df_train,columns=["KREDIYE_UYGUNLUK"],prefix=["KREDIYE_UYGUNLUK"])

"df_train['TAPU_DURUMU']=df_train['TAPU_DURUMU'].replace(['MUSTAKIL PARSEL'], '5')\ndf_train['TAPU_DURUMU']=df_train['TAPU_DURUMU'].replace(['HISSELI TAPU'], '4')\ndf_train['TAPU_DURUMU']=df_train['TAPU_DURUMU'].replace(['BILINMIYOR'], '0')\ndf_train['TAPU_DURUMU']=df_train['TAPU_DURUMU'].replace(['KAT MULKIYETI'], '3')\ndf_train['TAPU_DURUMU']=df_train['TAPU_DURUMU'].replace(['ZILLIYET'], '2')\ndf_train['TAPU_DURUMU']=df_train['TAPU_DURUMU'].replace(['TAHSIS'], '1')\ndf_train['TAPU_DURUMU']=df_train['TAPU_DURUMU'].replace(['KAT IRTIFAKI'], '6')\ndf_train['TAPU_DURUMU']=df_train['TAPU_DURUMU'].replace(['ARSA'], '7')"

In [ ]:
df_train.head()
df_train.info()

In [41]:
df_train["TAKAS_EVET"] = df_train["TAKAS_EVET"].astype(int)
df_train["TAKAS_HAYIR"] = df_train["TAKAS_HAYIR"].astype(int)

df_train["KREDIYE_UYGUNLUK_UYGUN"] = df_train["KREDIYE_UYGUNLUK_UYGUN"].astype(int)
df_train["KREDIYE_UYGUNLUK_UYGUN DEGIL"] = df_train["KREDIYE_UYGUNLUK_UYGUN DEGIL"].astype(int)
df_train["KREDIYE_UYGUNLUK_BILINMIYOR"] = df_train["KREDIYE_UYGUNLUK_BILINMIYOR"].astype(int)

df_train["KAT_KARSILIGI_EVET"] = df_train["KAT_KARSILIGI_EVET"].astype(int)
df_train["KAT_KARSILIGI_HAYIR"] = df_train["KAT_KARSILIGI_HAYIR"].astype(int)

In [ ]:
df_train.info()

In [43]:
df_train.to_csv("arsa_data_1.csv")


#Daha önceden oluşturulan DATA_CSV dosyası ile bu düzenlenen
# arsa_data_1.csv dosyası birleştirilerek DATA.csv olarak Forecasting de kullanılacaktır.